/*variables for colours*/
/*variables for text styles*/
/*font sizes*/
body {
  background-color: #212121;
  width: 100%;
  overflow-x: hidden;
  color: white;
  margin-bottom: -15px;
}

p {
  font-family: "Nunito", arial, sans-serif;
  font-size: 1.2vw;
}

h1 {
  font-family: "Abril Fatface", cursive;
  font-size: 8vw;
}

h2 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 3.2vw;
  line-height: 0.9;
  text-transform: uppercase;
}

h3 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.8vw;
  text-transform: uppercase;
}

h4 {
  font-family: "Abril Fatface", cursive;
  font-size: 5.6vw;
  text-decoration: underline;
}

/* colours */
.text-light {
  color: #fff;
}

.text-dark {
  color: #fff;
}

.section-color {
  background-color: #212121;
}

.section-white {
  background-color: #292929;
}

.container-fluid {
  padding: 3% 7%;
}

/* navigation section */
.navbar {
  padding: 0;
  position: absolute;
  left: 2rem;
  top: 3rem;
  z-index: 2;
  background-color: #212121;
  border-right: 4px solid #e3b0f8;
}

.nav-link {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.5vw;
  font-weight: bold;
  color: #fff;
  line-height: 1.5;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  background: linear-gradient(to right, #e3b0f8 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: 0.5s;
}

.nav-link:hover {
  letter-spacing: 8px;
  background-position: -100%;
  color: #fff;
  background-position: left bottom;
  transition: 0.5s;
}

/* section container */
#section-title .container-fluid {
  padding: 0% 7%;
  padding-bottom: 7%;
}

#section-portfolio .container-fluid {
  padding: 0% 7%;
  padding-bottom: 7%;
}

#section-about .container-fluid {
  padding: 0% 7%;
  padding-bottom: 7%;
}

#section-contact .container-fluid {
  padding: 0% 7%;
}

#section-contact p {
  text-align: center;
}

.insta-icon {
  color: white;
  font-size: 3rem;
}

.insta-icon:hover {
  color: #e3b0f8;
}

/* animations on scroll*/
.scroll-item {
  opacity: 0;
  transform: translateY(40px);
}

.scroll-item.animate {
  opacity: 1;
  transform: translateY(0px);
  transition: 1.5s;
  -webkit-transition: 1.5s;
  -o-transition: 1.5s;
  -moz-transition: 1.5s;
  transition-delay: 0.3s;
}

.scroll-img-left {
  opacity: 0;
  transform: translateX(-100%);
}

.scroll-img-left.slide-in-left {
  opacity: 1;
  transform: translate(0px);
  transition: 2.5s;
  -webkit-transition: 2.5s;
  -o-transition: 2.5s;
  -moz-transition: 2.5s;
  transition-delay: 1s;
}

.scroll-img-right {
  opacity: 0;
  transform: translateX(100%);
}

.scroll-img-right.slide-in-right {
  opacity: 1;
  transform: translate(0px);
  transition: 2s;
  -webkit-transition: 2s;
  -o-transition: 2s;
  -moz-transition: 2s;
  transition-delay: 1s;
}

/* title section*/
.title-image {
  height: 100vh;
  width: auto;
  position: relative;
  z-index: 1;
}

.header-text {
  display: block;
  overflow: auto;
}

.header {
  position: relative;
  margin: 5% 0;
  height: 25%;
}

.header h1 {
  position: absolute;
  line-height: 0.8;
  z-index: 2;
}

hr {
  border-top: 8px solid #fff;
  position: relative;
  z-index: 2;
}

.subtitle {
  position: relative;
  height: 20%;
}

.subtitle h2 {
  position: absolute;
  z-index: 2;
}

.text-shadow {
  z-index: 0 !important;
  color: transparent;
  text-shadow: 0px 2px 3px #2f4561, 0px 4px 13px #2f4561, 0px 10px 23px #2f4561;
}

/* intro in title section */
.intro {
  background-color: #2f4561;
  height: 35%;
  position: relative;
  z-index: 2;
}

.intro-text {
  padding: 5%;
}

.intro-logo {
  text-align: center;
}

.intro-logo img {
  height: 3vw;
  width: auto;
}

.section-title {
  position: absolute;
  margin-top: -5%;
  width: 43%;
}

.section-title p {
  line-height: 1.5;
}

.title-right {
  padding-left: 43%;
  text-align: left;
}

/*section about*/
#section-about .row-container {
  height: 100%;
}

#section-about .row-nested {
  background-color: #2f4561;
  width: 60%;
  height: 70%;
}

/* about image and text*/
.about-image img {
  width: 80%;
  height: auto;
  padding-left: 30%;
  margin-top: -10%;
}

.about-text {
  margin-top: -10%;
}

/* skills section in about */
.skills-item {
  color: #fff;
  text-align: center;
}

.skills-item:hover h3, .skills-item:hover .skills-img {
  color: #fff;
  transition: 0.5s;
}

.skills-item h3 {
  font-size: 1.2vw;
  transition: 0.5s;
}

.skills-img {
  color: #fff;
  font-size: 5vw;
  margin-bottom: 0.5rem;
  transition: 0.5s;
}

/* contact section*/
.contact {
  height: 100%;
  width: 80%;
}

.contact-icon {
  color: #e3b0f8;
  font-size: 4vw;
  margin: 2.5rem;
  transition: 0.5s;
}

.contact-icon:hover {
  font-size: 5vw;
  color: #2f4561;
  transition: 0.5s;
}

.contact-icon:hover ~ p {
  color: #2f4561;
  transition: 0.5s;
}

.contact-detail a {
  text-decoration: none;
}

.contact p {
  color: #e3b0f8;
  line-height: 1.5;
  transition: 0.5s;
}

.portfolio-img {
  width: auto;
}

.row-portfolio {
  display: flex;
  flex-wrap: wrap;
  padding-top: 12rem;

}

/* Create four equal columns that sits next to each other */
.column {
  flex: 33%;
  max-width: 33%;
  padding: 0px 0px;
}

.column img {
  padding-top: 0px;
  vertical-align: middle;
}

/* modal for carousel */
.modal {
  height: 100vh;
  width: 100vw;
  padding-right: 0px !important;
}

.modal-content {
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
}

.modal-body {
  display: grid;
  height: 100vh;
  overflow: hidden;
}

.modal-img {
  max-width: 100%;
  max-height: 95vh;
  margin: auto;
}

.close {
  font-size: 4em;
  text-shadow: none;
  color: #2f4561;
  width: 100%;
}

.close:hover {
  color: white;
}


/* background modal*/


@media (max-width: 768px) {
  /* bigger font sizes */
  h1 {
    font-size: 16vw;
  }

  h2 {
    font-size: 6.4vw;
  }

  h3 {
    font-size: 3.6vw;
  }

  h4 {
    font-size: 11.2vw;
  }

  p {
    font-size: 2.64vw;
  }

  #section-title .container-fluid {
    padding: 0% 0%;
    padding-bottom: 75%;
  }

  #section-portfolio .container-fluid {
    padding: 0% 0%;
    padding-bottom: 20%;
  }

  #section-about .container-fluid {
    padding: 0% 0%;
    padding-bottom: 10%;
  }

  #section-contact .container-fluid {
    padding: 0% 0%;
  }

  /* disable animation*/
  .scroll-img-left {
    opacity: 1;
    transform: translateX(0px);
  }

  .scroll-img-left.slide-in-left {
    opacity: 1;
    transform: translate(0px);
    transition: 0s;
    -webkit-transition: 0s;
    -o-transition: 0s;
    -moz-transition: 0s;
    transition-delay: 0s;
  }

  /* navigation */
  .navbar {
    right: 2rem;
    left: auto;
    border-right: none;
    border-left: 4px solid #2f4561;
  }

  .nav-link {
    text-align: right;
    font-size: 3vw;
    background: linear-gradient(to right, #292929 50%, #2f4561 50%);
    background-size: 200% 100%;
    background-position: left bottom;
    transition: 0.5s;
  }

  .nav-link:hover {
    letter-spacing: 5px;
    background-position: -100%;
    color: #fff;
    background-position: right bottom;
    transition: 0.5s;
  }

  /* title section */
  .title-image {
    height: 40vh;
    width: 100%;
    position: relative;
    z-index: 1;
    object-fit: cover;
  }

  .header, .subtitle {
    padding: 0% 5%;
  }

  hr {
    border-top: 4px solid #fff;
    width: 90%;
  }

  .header {
    margin-top: -10%;
    height: 70%;
  }

  .subtitle {
    height: 45%;
  }

  .intro {
    height: 110%;
  }

  .section-title {
    padding: 0% 5%;
    width: 100%;
    margin-top: -8%;
  }

  /* mobile controls for carousel */
  .controls {
    font-size: 6vw;
  }

  .carousel-control-next:hover {
    transform: translateX(15px);
    transition: 0.5s;
  }

  .carousel-control-prev:hover {
    transform: translateX(-15px);
    transition: 0.5s;
  }

  /* about section */
  .about-image img {
    width: 60%;
    height: auto;
    margin: auto;
    margin-top: 15%;
  }

  .about-text {
    margin: 0% 5%;
  }

  /* skills section in about */
  #section-about .row-nested {
    background-color: #2f4561;
    width: 100%;
    height: 140%;
  }

  .skills-item h3 {
    font-size: 3vw;
  }

  .skills-img {
    font-size: 12vw;
  }

  /* contact section */
  .contact {
    width: 100%;
  }

  .contact-icon {
    font-size: 10vw;
    margin: 1.5rem;
    transition: 0.5s;
  }

  .contact-icon:hover {
    font-size: 12vw;
    color: #292929;
    transition: 0.5s;
  }
}
@media (max-width: 480px) {
  #section-title .container-fluid {
    height: 110vh;
  }

  #section-portfolio .container-fluid {
    height: 110vh;
  }

  #section-about .container-fluid {
    height: 110vh;
  }

  #section-contact .container-fluid {
    height: 90vh;
  }

  #section-about .row-nested {
    height: 130%;
  }

  p {
    font-size: 3vw;
  }
}

/*# sourceMappingURL=stylesheet.css.map */
